* {
    /* overflow: visible; */
    user-select: none;
    font-size: medium;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
    /* Создаем градиентный фон */
    background: linear-gradient(45deg, #10264f, #143979);
    /* Добавляем анимированный эффект.  Ключевые кадры определяют изменение фона со временем */
    animation: gradient 15s ease infinite;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%; /* Начальная позиция градиента */
    }
    50% {
        background-position: 100% 50%; /* Смещаем градиент */
    }
    100% {
        background-position: 0% 50%; /* Возвращаем градиент в исходное положение */
    }
}

.copy_message {
    background-color: rgb(0, 100, 27);
    position: fixed;
    top: 0;
    right: 41vw;
    padding: 0.5% 5%;
    border-radius: 10px;
    z-index: 2;
    animation: opacity 3s ease infinite;
}

@keyframes opacity {
    0% { opacity: 1; } 
    30% { opacity: 1; }
    100% { opacity: 0; }
}

header {
    position: sticky;
    top: 0;
    background-color: #091b3b; /* Затемненный фон для выделения */
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    border-bottom: 2px solid #eee; /* Светлый разделитель */
    z-index: 1;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main {
    padding: 20px;
    min-height: 75vh;
}

section {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.1); /* Полупрозрачный белый */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out; /* Плавный эффект при наведении */
 }

section:hover {
    transform: translateY(-5px); /* Поднимаем секцию при наведении */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); /* Усиливаем тень при наведении */
}

h2 {
    color: #f0f0f0; /* Более светлый цвет заголовков */
    font-size: larger;
    border-bottom: 2px solid #888;
    padding-bottom: 5px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px #222;
}

h1 {
    font-size: 30px;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
}

a {
    color: rgb(143, 197, 199);
}
footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border-top: 2px solid #eee;
    height: 18vh;
}

.footer_links {
    display: flex;
    justify-content: center;
    gap: 5%;
}

nav a {
    color: #eee;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #bbb;
}





.remove_list {
    list-style-type: none

}
